%h1 SEO header:)

%p#notice= notice

%p
  %b Title:
  = @ad.title
%p
  %b Description:
  = @ad.description
%p
  %b Image:
  = image_tag @ad.image
%p
  %b E mail:
  = @ad.e_mail
%p
  %b City:
  = @ad.city
%p
  %b Adress:
  = @ad.adress
%p
  %b Category:
  = @ad.category_name

-if user_signed_in? and (current_user.id === @ad.user_id or current_user.id === 1)
  = link_to 'Edit', edit_ad_path(@ad)
  \|
  -if current_user.id === 1
    = link_to 'Destroy', @ad, :method => :delete, :data => { :confirm => 'Are you sure?' }
    \|
= link_to 'Back', ads_path
